<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lorem Ipsum</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="section-header">
        <div class="bg-dark">            
            <header>
                <nav>
                    <a class="logo" href="/">
                        <img src="/img/logo.png" alt="Logo">
                    </a>
    
                    <ul>
                        <li>                            
                            <a href="#produtos">Produtos</a>
                        </li>
                        
                        <li>                            
                            <a href="#contato">Contato</a>
                        </li>
                    </ul>
                </nav>
            </header>
    
            <div class="container-header">
                <div class="container">
                    <div class="content">
                        <div class="text">
                            <h5>Bem-vindo(a) à</h5>
                            <h1>Lorem <span>Ipsum</span></h1>                             
                        </div>
                    </div>
                </div>
            </div>

            <div class="midias-sociais">
                <div class="box-midias">
                    <a href="#" target="_blank">
                        <i class="fab fa-instagram" alt="Instagram"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-whatsapp" alt="Whatsapp"></i>
                    </a>
                    <a href="#" target="_blank">    
                        <i class="fab fa-facebook-f" alt="Facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>    
        
    <div class="what" id="whats">
        <div class="container">
            <h2>Por que ficar ligado em nosso site?</h2>
            <p>Por aqui você pode retirar seu cupom de desconto <br> sempre que tiver alguma promoção</p>
            <div class="container-block">
                <div class="block-what">
                    <i class="fas fa-bullhorn"></i>
                    <span>Novidades</span>
                </div>
                <div class="block-what">
                    <i class="fas fa-percentage"></i>
                    <span>Promoção</span>
                </div>
                <div class="block-what">
                    <i class="fas fa-gift"></i>
                    <span>Sorteios</span>
                </div>
            </div>
        </div>
    </div>

    <section class="produtos" id="produtos">
        <div class="container">
            <h4>Produtos</h4>
            <h2>O que encotrará em nossa loja</h2>
            <p>Produtos dísponíveis somente em nossa loja física</p>
            <div class="produtos-grid">
                {% for produto in produtos %}
                    <div class="produtos-item">
                        <div class="image">
                            <img src="{{produto.image}}" alt="">
                        </div>

                        <div class="text">
                            <h4>{{produto.title}}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="news-letter">
        <div class="news-letter-bg">            
            <div class="grid-news-letter">
                    <div class="text-left">
                        <div class="box-text">
                            <span>Newsletter</span>
                            <h2>Seja o primeiro a saber de nossas promoções</h2>
                        </div>
                    </div>
    
                    <form class="input-right" id="input-right" method="post">
                        <input 
                            type="text" 
                            id="whatsapp" 
                            name="whatsapp" 
                            placeholder="(00) 00000-0000"
                            onkeyup="phoneMask(event)"
                            required >
                        <button class="btn" id="btn" type="submit">
                            <span class="submit">Cadastrar</span>
                            <span class="loading"></span>
                            <span class="check"><i class="fa fa-check"></i></span>
                        </button>
                    </form>             
            </div>
        </div>
    </div>

    <div class="container" id="contato">        
        <div class="contato">
            <h4>Contato</h4>
            <h2>Entre em contato, <br> em breve retornaremos</h2>
            <p>Teve alguma dúvida ou gostaria de falar diretamente conosco? Entre <br> em contato via Whatsapp ou através de nossas redes sociais, se preferir <br> preencha este formulário, em breve retornaremos!</p>
            <div class="contato-box">
                <div class="social-box">
                    <div class="block-media">
                        <a href="#">
                            <i class="fab fa-instagram" alt="Instagram"></i>
                        </a>
                    </div>

                    <div class="block-media">
                        <a href="#">
                            <i class="fab fa-whatsapp" alt="Whatsapp"></i>
                        </a>
                    </div>

                    <div class="block-media">
                        <a href="#">
                            <i class="fab fa-facebook-f" alt="Facebook"></i>
                        </a>
                    </div>
                </div>

                <div class="form-box">
                    <form class="myForm" id="myForm" method="post" autocomplete="off">
                        <div class="box-form">
                            <div class="input-block">
                                <input type="text" placeholder="Nome" id="name" name="name" required>
                            </div>
                            <div class="input-block">
                                <input type="email" placeholder="Email" id="email" name="email" required>
                            </div>
                            <div class="input-block">
                                <input type="text" placeholder="Cidade" id="city" name="city" required>
                            </div>
                            <div class="input-block">
                                <input type="text" onkeyup="phoneMask(event)" placeholder="Telefone" id="number" name="number" required>
                            </div>
                        </div>
                        <button class="button" id="button" type="submit">
                            <span class="submit">Enviar</span>
                            <span class="loading"></span>
                            <span class="check"><i class="fa fa-check"></i></span>
                        </button>
                    </form>
                    <div id="div"></div>
                </div>

                <div class="map">                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.126913370319!2d-73.96870248426907!3d40.78122394131399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589a018531e3%3A0xb9df1f7387a94119!2sCentral%20Park!5e0!3m2!1spt-BR!2sbr!4v1626384022268!5m2!1spt-BR!2sbr" width="100%" height="100% style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="footer-grid">
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo.png" alt="">
                    </a>
                </div>

                <div class="contato-footer">

                    <h4>Contato</h4>

                    <ul>     
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-whatsapp"></i>
                                <p>(99) 99988-7766</p>
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class="fas fa-phone-alt"></i>                                
                                <p>3344-5566</p>
                            </a>
                        </li>

    
                        <li>
                            <a href="#">
                                <i class="far fa-envelope"></i>
                                <p>contato@email.com</p>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="localizacao">
                    <h4>Localização</h4>

                    <p>Central Park,
                    <br>New York/NY</p>
                </div>
            </div>
        </div>

        <div class="copy">
            <p>Todos direitos reservados. Elétrica Vegas 2020</p>
        </div>
    </footer>     
    <script src="/js/script.js"></script>
</body>
</html>