.promocao {
    margin: 15rem 0;

    .promocao-bg {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: -20rem auto 0;

        img {
            width: 80%;
            position: relative;
        }

        .promocao-text {
            width: 100%;
            position: absolute;
            top: 10rem;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img {
                width: 40%;
            }

            a {
                margin-top: 5rem;
                color: #FFF;
                font-weight: 600;
                font-size: 1.4rem;
                text-transform: uppercase;
                background: linear-gradient(to right,#fa5f1a 0%,   #ff8100 100%);
                border: none;
                border-radius: 5px;
                padding: 18px 42px;
                transition: .3s ease-in-out;
                text-decoration: none;
   
                &:hover {
                   background: linear-gradient(to left,#fa5f1a 0%,   #ff8100 100%);
   
                   transition: .3s ease-in-out;
                }
           }
        }


        
    }    
}



@media screen and (min-width: 250px) and (max-width: 575.98px) {
    .promocao {
        margin: 0rem 0 10rem;
        
        .container > h4 {
            font-size: 1.4rem;
        }
        
        .container > h2 {
            font-size: 3rem;
            line-height:3.4rem;
            max-width: 80%;
            margin: 0 auto 5rem;
        }
    
        .promocao-bg {
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0rem auto 0;
    
            img {
                width: 120%;
                position: relative;
            }
    
            .promocao-text {
                width: 100%;
                position: absolute;
                top: 10rem;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 75%;
                }
    
                a {
                    margin-top: 5rem;
                    color: #FFF;
                    font-weight: 600;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    background: linear-gradient(to right,#fa5f1a 0%,   #ff8100 100%);
                    border: none;
                    border-radius: 5px;
                    padding: 14px 38px;
                    transition: .3s ease-in-out;
                    text-decoration: none;
       
                    &:hover {
                       background: linear-gradient(to left,#fa5f1a 0%,   #ff8100 100%);
       
                       transition: .3s ease-in-out;
                    }
               }
            }
    
    
            
        }     
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .promocao {
        margin: 15rem 0;
        
        .container > h4 {
            font-size: 1.4rem;
        }
        
        .container > h2 {
            font-size: 3rem;
            line-height:3.4rem;
            max-width: 80%;
            margin: 0 auto 5rem;
        }
    
        .promocao-bg {
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: -20rem auto 0;
    
            img {
                width: 60%;
                position: relative;
            }
    
            .promocao-text {
                width: 100%;
                position: absolute;
                top: 10rem;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 40%;
                }
    
                a {
                    margin-top: 5rem;
                    color: #FFF;
                    font-weight: 600;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    background: linear-gradient(to right,#fa5f1a 0%,   #ff8100 100%);
                    border: none;
                    border-radius: 999px;
                    padding: 18px 32px;
                    transition: .3s ease-in-out;
                    text-decoration: none;
       
                    &:hover {
                       background: linear-gradient(to left,#fa5f1a 0%,   #ff8100 100%);
       
                       transition: .3s ease-in-out;
                    }
               }
            }
    
    
            
        }  
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .promocao {
        margin: 10rem 0;
        
        .container > h4 {
            font-size: 1.8rem;
        }
        
        .container > h2 {
            font-size: 4rem;
            line-height:4.4rem;
            max-width: 80%;
            margin: 0 auto 5rem;
        }
    
        .promocao-bg {
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: -20rem auto 0;
    
            img {
                width: 60%;
                position: relative;
            }
    
            .promocao-text {
                width: 100%;
                position: absolute;
                top: 10rem;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 40%;
                }
    
                a {
                    margin-top: 5rem;
                    color: #FFF;
                    font-weight: 600;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    background: linear-gradient(to right,#fa5f1a 0%,   #ff8100 100%);
                    border: none;
                    border-radius: 999px;
                    padding: 18px 32px;
                    transition: .3s ease-in-out;
                    text-decoration: none;
       
                    &:hover {
                       background: linear-gradient(to left,#fa5f1a 0%,   #ff8100 100%);
       
                       transition: .3s ease-in-out;
                    }
               }
            }
    
    
            
        }  
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .promocao {
        margin: 10rem 0;
        
        .container > h4 {
            font-size: 2.2rem;
        }
        
        .container > h2 {
            font-size: 5.2rem;
            line-height:5rem;
            max-width: 80%;
            margin: 0 auto 5rem;
        }
    
        .promocao-bg {
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: -20rem auto 0;
    
            img {
                width: 80%;
                position: relative;
            }
    
            .promocao-text {
                width: 100%;
                position: absolute;
                top: 10rem;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 40%;
                }
    
                a {
                    margin-top: 5rem;
                    color: #FFF;
                    font-weight: 600;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    background: linear-gradient(to right,#fa5f1a 0%,   #ff8100 100%);
                    border: none;
                    border-radius: 5px;
                    padding: 18px 32px;
                    transition: .3s ease-in-out;
                    text-decoration: none;
       
                    &:hover {
                       background: linear-gradient(to left,#fa5f1a 0%,   #ff8100 100%);
       
                       transition: .3s ease-in-out;
                    }
               }
            }
    
    
            
        }  
    }
}